<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8" style="color: blue;"><h2>Books Details</h2></div>                    
                </div>
            </div>



<table class="table table-bordered">
    <tr>
        <th *ngFor="let col of gridColumns">
            <br /> {{col.colName}} <br />
            </th>
    </tr>
    <tr *ngFor="let colObj of gridData">
       <td *ngFor="let col of gridColumns">
        {{colObj[col.colName]}}
        </td>
        
            <td>
                <a style="color: brown;" (click)="selectedGrid(colObj)" class="btn btn-primary">Edit</a>
                <a style="color: brown;" (click)="deleteGrid(colObj)" class="btn btn-primary">delete</a>
                </td>
            
    </tr>
</table>
</div>
</div>
</div>     