<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8" style="color: blue;"><h2>Books Details</h2></div>                    
                </div>
            </div>



<table style="border: 2px solid black; background-color:lemonchiffon;width: 100%;" class="table table-bordered">
    <tr>
        <th *ngFor="let col of gridColumns">
             {{col.colName}} 
            </th>
    </tr>
    <tr *ngFor="let colObj of gridData">
       <!-- <td *ngFor="let col of gridColumns">
        {{colObj[col.colName]}}
        </td> -->
        <td style="width: 10%;"><img src="https://digibookblob.blob.core.windows.net/images/{{colObj.image}}" style="width: 100px;height: 100px;" alt="No Image"></td>
        <td style="width: 15%;">{{colObj.title}}</td>
        <td style="width: 10%;">{{colObj.category}}</td>
        
        <td style="width: 10%;">{{colObj.price}}</td>
        <td style="width: 10%;">{{colObj.publisher}}</td>
        <td style="width: 15%;">{{colObj.contents.substring(0,20)}}</td>
        
            <td style="width: 21%;"> 
                <div>
                     <a  (click)="selectedGrid(colObj)" class="btn btn-primary">Edit</a>&nbsp;
                <a  (click)="deleteGrid(colObj)" class="btn btn-danger">Delete</a>&nbsp;
                <!-- <div *ngIf="colObj.activeFlag;else other_content "> -->
                    <a  *ngIf="colObj.activeFlag;else other_content " class="btn btn-secondary " title="block" data-toggle="tooltip" (click)="blockGrid(colObj)">block</a>
                                                
                <ng-template #other_content>
                    
                    <a class="btn btn-secondary" title="unblock" data-toggle="tooltip" (click)="unblockGrid(colObj)">unblock</a>
                   
                </ng-template>

            </div>
                </td>
            
    </tr>
</table>
</div>
</div>
</div>     