<div style="background-image: url(assets/images/book1.jpg);">
  <div class="col-lg-6 col-xl-6 col-md-1 col-sm-1" style="background-color: blue; background-image: url(assets/images/glass.jpg);">
    <div class="card bg-light" style="background-color: blue;">
      <h4 class="card-title mt-3 text-center">Create Book</h4>
      <article class="card-body mx-auto" style="max-width: 400px;">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i style="width: 60px;">Title</i> </span>
          </div>
          <input [(ngModel)]="FormData.title" class="form-control" placeholder="Enter Title" type="text">
        </div> <!-- form-group end.// -->
        

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i style="width: 60px;">Catogory</i> </span>
          </div>
          <input [(ngModel)]="FormData.category" class="form-control" placeholder="Enter Catogory" type="text">
        </div> <!-- form-group end.// -->

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i style="width: 60px;">Image</i> </span>
          </div>
          <!--<input [(ngModel)]="FormData.image" class="form-control" placeholder="Enter Image" type="text">-->
          <!--<label for="formFileDisabled" class="form-label">example</label>-->
          <input type="file" #file (change)="uploadFile(file.files)" style="display: none;" />
          <button  (click)="file.click()" >Upload</button>
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i style="width: 60px;">Price</i> </span>
          </div>
          <input [(ngModel)]="FormData.price" class="form-control" placeholder="Enter Price" type="text">
        </div> <!-- form-group end.// -->

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i style="width: 60px;">Publisher</i> </span>
          </div>
          <input [(ngModel)]="FormData.publisher" class="form-control" placeholder="Enter Publisher" type="text">
        </div> <!-- form-group end.// -->

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i style="width: 60px;">Active</i> </span>
          </div>
          <input [(ngModel)]="FormData.active" class="form-control" placeholder="true or false" type="tel">
        </div> <!-- form-group end.// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i style="width: 60px;resize: none;">Content</i> </span>
          </div>
          <textarea [(ngModel)]="FormData.contents" class="form-control" placeholder="Enter Content"
            type="text"></textarea>
        </div> <!-- form-group end.// -->
<!-- form-group// -->
      </article>
      <div class="row justify-content-end">
        <div class="form-group col-sm-6"> <button type="button" class="btn-block btn-primary"
                (click)="Add()">Save and Create</button> </div>
    </div>
    <div *ngIf="addsuccess" class="alert alert-primary" role="alert">
      <strong>Success!!</strong> <a  class="alert-link" (click)="reloadPage()">"Click here to View the Updated Catalog"</a>
    </div>
    <div *ngIf="addFail" class="alert alert-primary" role="alert">
      <strong>Something Went Wrong!!</strong> <a  class="alert-link" (click)="reloadPage()">"Click here to Try it Again"</a>
    </div>
    </div>

  </div>
</div>

<app-grid-ui
[grid-columns]="[{'colName':'title'},{'colName':'category'},{'colName':'image'},{'colName':'price'},{'colName':'publisher'},{'colName':'contents'}]"
[grid-data]="CreateBookModels" 
(grid-selected)="EditAuthor($event)" (grid-delete)="DeleteAuthor($event)" (book-block)="BlockGrid($event)" (book-unblock)="UnBlockGrid($event)">
</app-grid-ui>