<div *ngIf="!buyEvents; else elsepart">
<div style="background-image: url(assets/images/lib.jpg);">
    <div class="col-lg-6 col-xl-6 col-md-1 col-sm-1" style="background-image: url(assets/images/shelf.jpg);">
      <div class="card bg-light" style="background-color: blue;">
        <h4 class="card-title mt-3 text-center">Search Book</h4>
        <article class="card-body mx-auto" style="max-width: 400px;">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i style="width: 60px;">Title</i> </span>
            </div>
            <input [(ngModel)]="FormData.title" class="form-control" placeholder="Enter Title" type="text">
          </div> <!-- form-group end.// -->
          

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i style="width: 60px;">Category</i> </span>
            </div>
            <input [(ngModel)]="FormData.category" class="form-control" placeholder="Enter AuthorName" type="text">
          </div> <!-- form-group end.// -->

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i style="width: 60px;">Publisher</i> </span>
            </div>
            <!--<input [(ngModel)]="FormData.image" class="form-control" placeholder="Enter Image" type="text">-->
            <!--<label for="formFileDisabled" class="form-label">example</label>-->
            <input [(ngModel)]="FormData.publisher" class="form-control" type="text">
          </div> <!-- form-group end.// -->

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i style="width: 60px;">ReleaseDate</i> </span>
            </div>
            <input [(ngModel)]="FormData.release" class="form-control" placeholder="Enter Price" type="date">
          </div> <!-- form-group end.// -->

          
          
<!-- form-group// -->
        </article>
        <div class="row justify-content-end">
          <div class="form-group col-sm-6"> <button type="button" class="btn-block btn-primary"
                  (click)="searchBook()">Search</button> </div>
      </div>

      <div *ngIf="searchFailAlert" class="alert alert-danger" role="alert">
        <strong>No Books Found!!</strong> <a  class="alert-link" (click)="reloadPage()">"Click here to Try with Different Options"</a>
      </div>
      <div *ngIf="emptyFill" class="alert alert-danger" role="alert">
        <strong>All Search fields are MANDATORY!!</strong> <a  class="alert-link" (click)="reloadPage()">"Click here to Try Agai"</a>
      </div>

      </div>

    </div>
  </div>
 <div *ngIf="showElements">
<app-reader-ui
[grid-columns]="[{'colName':'title'},{'colName':'category'},{'colName':'image'},{'colName':'price'},{'colName':'publisher'},{'colName':'contents'}]"
[grid-data]="SearchModels" 
 (grid-buy)="bookBuy($event)">
</app-reader-ui>
</div>
</div> 
<!-- SearchEnd -->
<ng-template #elsepart>

  <section class="vh-100 gradient-custom" style="background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Welcome to Payments</h2>
                <p class="text-white-50 mb-5">Please enter Card Information!</p>
  
                <div class="form-outline form-white mb-4">
                  <input type="text" id="typeEmailX"  value="{{bookprice}} RS"class="form-control form-control-lg" readonly />
                  <label class="form-label" for="typeEmailX">Check the AMOUNT to be Paid</label>
                </div>
                <form [formGroup]="FormData.formReader">
                <div class="form-outline form-white mb-4">
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="TitleControl"/>
                  <label class="form-label" for="typePasswordX">Enter Card Number to Buy the Book</label>
                </div>
  
                
              
                <button class="btn btn-outline-light btn-lg px-5"  (click)="payFunc()" (hide)="(FormData.formReader.valid)">PAY</button>
              </form>
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div>
  
              </div>
  

  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

   
</ng-template>
