<div *ngIf="returnbool">
  
  <div class="alert alert-primary" role="alert">
    <strong>Mr/Ms <i> "{{currentUser}}"</i> <br> Your Refund Request has been Generated !! <br> Ref.NO : #RETOCT{{deleteId}}   <br></strong> <a  class="alert-link" href="searchbook">Click here to Search For More Books</a>
    <br><a  class="alert-link" href="viewbook">Continue to Read the Books..</a>
    <br>
  </div>
</div>
<div *ngIf="returnboolfail">
  
  <div class="alert alert-danger" role="alert">
    <strong>Sorry Mr/Ms <i> "{{currentUser}}"</i> <br>  Refund Request is allowed ONLY  within  24hrs  <br></strong> <a  class="alert-link" href="viewbook">Yes I Understand</a>
  </div>
</div>

<div *ngIf="!readingInv" >
  <h2>Welcome To Your Reading House</h2> 
  <div style="text-align: right;"><a href="paymentinfo" style="color: rgb(252, 232, 232);"  class="btn btn-primary">Payment History</a></div>
<table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">CoverPage</th>
        <th scope="col" style="width: 70%;">Content</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let colObj of SearchModels">
             
             
          <td><img src="https://digibookblob.blob.core.windows.net/images/{{colObj.image}}" style="width: 100px;height: 100px;" alt="No Image"></td>
             <td>{{colObj.contents}}</td>
             <!-- <td>{{colObj.price}}</td>
             <td>{{colObj.publisher}}</td>
             <td>{{colObj.contents}}</td> -->
             <td>
                <!-- <a style="color: brown;" (click)="selectedGrid(colObj.id,colObj.price)" class="btn btn-primary">View Invoice</a> -->
               <a  (click)="returnBook(colObj.id)" class="btn btn-warning">Return Book</a>
                </td>
      
    </tbody>
  </table>
</div>
<div *ngIf="readingInv">
  
  <div class="alert alert-primary" role="alert">
    <strong>DIGIBOOK Online Book Store Invoice  >><br>===========================<br>*Customer ID :<i> "{{currentUser}}"</i>  <br>*INVOICE N.O : <i>DGB-001A-{{invoID}}</i>  <br></strong> <strong>*Total Amount : <i>{{priceId}}</i></strong> <br><strong>============================</strong> <br><a  class="alert-link" href="viewbook">Continue Reading the Book..</a>
    <br><br> <a  class="alert-link" href="searchbook">Click here to Search For New Books</a>
  
  </div>
</div>
<!-- <div *ngIf="returnbool">
  
  <div class="alert alert-primary" role="alert">
    <strong>Sorry to hear Mr/Ms <i> "{{currentUser}}"</i> for returning  the book  <br></strong> <a  class="alert-link" href="searchbook">Click here to Search For More Books</a>
  </div>
</div> -->