<div *ngIf="!reading" >
<table class="table table-bordered">
    <thead>
      <tr>

        <th scope="col">CoverPage</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let colObj of SearchModels">
             
             
          <td><img src="{{imageUrl}}{{colObj.image}}" style="width: 100px;height: 100px;" alt="No Image"></td>
             <td>{{colObj.contents}}</td>
             <!-- <td>{{colObj.price}}</td>
             <td>{{colObj.publisher}}</td>
             <td>{{colObj.contents}}</td> -->
             <td>
                <a style="color: brown;" (click)="selectedGrid(colObj)" class="btn btn-primary">Read</a>
                </td>
      
    </tbody>
  </table>
</div>
<div *ngIf="reading">
  hhh
  <div class="alert alert-primary" role="alert">
    <strong>Thank You Mr/Ms " {{currentUser}} "</strong> <a  class="alert-link" href="searchbook">Click here to Search For More Books</a>
  </div>
</div>