<table class="table table-bordered">
    <thead>
      <tr>

        <th scope="col">Image</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let colObj of SearchModels">
             
             
          <td><img src="{{imageUrl}}{{colObj.image}}" style="width: 100px;height: 100px;" alt="No Image"></td>
             <td>{{colObj.contents}}</td>
             <!-- <td>{{colObj.price}}</td>
             <td>{{colObj.publisher}}</td>
             <td>{{colObj.contents}}</td> -->
             <td>
                <a style="color: brown;" (click)="selectedGrid(colObj)" class="btn btn-primary">Read</a>
                </td>
      
    </tbody>
  </table>